.custom-pagination {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 10px;
    margin-top: 60px;

    @media (min-width: 768px) and (max-width: 1023px) {
        margin-top: 40px;
    }

    @media (max-width: 767px) {
        margin-top: 20px;
    }

    .page-item {
        text-align: center;
        cursor: pointer;

        &:hover {
            span {
                background-color: #1E2128;
                color: #fff;
            };
        }

        span {
            font-size: 12px;
            line-height: 20px;
            font-weight: bold;
            padding: 6px 12px;
            transition: all ease-in 0.4s;
            border-radius: 50%;
        }
    }

    .active {
        span {
            background-color: #1E2128;
            color: #fff;
        }
    }
}